@import "https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap";
@import "https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap";
@import "https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

@keyframes family {
  0% {
    transform: translateY(100%); }
  50% {
    transform: translateY(1%); }
  65% {
    transform: translateY(4%); }
  80% {
    transform: translateY(-4%); }
  95% {
    transform: translateY(2%); }
  100% {
    transform: translateY(0%); } }

@keyframes chapter {
  0% {
    transform: scale(0.5);
    opacity: 0.7; }
  100% {
    transform: scale(1);
    opacity: 1; } }

@keyframes rotate {
  0% {
    animation-timing-function: ease-in;
    transform: rotate(0deg) scale(0.1); }
  25% {
    animation-timing-function: ease-out;
    transform: rotate(-180deg) scale(1.4); }
  50%, 100% {
    transform: rotate(-360deg) scale(1); } }

header {
  padding: 25px;
  text-align: center; }
  header nav {
    display: flex;
    justify-content: center; }
    header nav ul li {
      display: inline;
      align-items: center;
      align-content: center; }
      header nav ul li a {
        font-family: 'Bebas Neue', cursive;
        font-size: 25px;
        text-decoration: none;
        color: white;
        margin: 15px; }
        header nav ul li a:hover {
          color: #00eeff;
          border-bottom: 2px solid #00ff0d; }
      header nav ul li .nav-adidas {
        font-family: 'Poppins', sans-serif; }

footer {
  width: 100%;
  display: flex;
  justify-content: center; }
  footer .social-bar {
    position: fixed;
    bottom: 0;
    padding: 50px;
    margin: auto; }
    footer .social-bar ul li {
      text-align: center;
      border: 1px white solid;
      margin: 10px;
      padding: 10px;
      border-radius: 50px;
      display: inline; }
      footer .social-bar ul li a {
        text-decoration: none; }
        footer .social-bar ul li a i {
          color: white; }
        footer .social-bar ul li a:hover {
          color: white; }
      footer .social-bar ul li:hover {
        background-color: #00ff0d; }

h3 {
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase; }

.grid-home {
  background-image: url("../assets/img/background-home.webp");
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: -1; }

.img-home picture {
  display: flex;
  justify-content: center; }

.img-home img {
  width: 70%;
  max-width: 700px;
  animation: rotate 3s; }

.family {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 40px; }
  .family * {
    padding: 5px; }

.container-family {
  width: 95%;
  margin: auto; }

.family-background {
  text-align: center;
  background-color: white;
  padding: 10px;
  border: 1px solid #bbce50;
  -webkit-box-shadow: -2px -2px 35px 1px #bbce50;
  -moz-box-shadow: -2px -2px 35px 1px #bbce50;
  box-shadow: -2px -2px 10px 1px #bbce50; }

.family-summer {
  animation: family 1s; }
  .family-summer img {
    width: 40%;
    max-width: 150px; }

.family-morty {
  animation: family 2s; }
  .family-morty img {
    width: 40%;
    max-width: 150px; }

.family-jerry {
  animation: family 1s; }
  .family-jerry img {
    width: 40%;
    max-width: 150px; }

.family-beth {
  animation: family 2s; }
  .family-beth img {
    width: 40%;
    max-width: 150px; }

.family-rick {
  animation: family 1s; }
  .family-rick img {
    width: 40%;
    max-width: 150px; }

.chapter {
  background-color: white;
  border: 1px solid #bbce50;
  -webkit-box-shadow: -2px -2px 35px 1px #bbce50;
  -moz-box-shadow: -2px -2px 35px 1px #bbce50;
  box-shadow: -2px -2px 10px 1px #bbce50;
  width: 100%;
  animation-name: chapter;
  animation-duration: 1s;
  animation-timing-function: ease;
  visibility: visible; }
  .chapter img {
    width: 100%; }
  .chapter:hover {
    opacity: 0.6; }
  .chapter h3 {
    font-size: 20px;
    color: black;
    width: 250px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden; }
  .chapter p {
    width: 250px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden; }

.container-chapter {
  width: 80%;
  margin: auto;
  display: grid;
  grid-gap: 20px; }
  .container-chapter .select-season {
    grid-column: 1 /6; }

.chapter-descri {
  padding: 10px; }

.background-form {
  background-color: rgba(255, 255, 255, 0.322);
  text-align: center;
  width: 50%;
  margin: 5vh auto;
  -webkit-box-shadow: 1px 2px 30px 8px white;
  -moz-box-shadow: 1px 2px 30px 8px white;
  box-shadow: 1px 2px 30px 8px white; }
  .background-form h3 {
    color: white;
    font-size: 30px;
    padding: 30px;
    margin: auto; }
  .background-form .container-sub {
    width: 80%; }
    .background-form .container-sub form button {
      margin: 10px; }
    .background-form .container-sub form * {
      font-family: 'Roboto', sans-serif;
      text-transform: capitalize; }
    .background-form .container-sub form label {
      padding-top: 10px;
      font-size: 18px;
      color: white; }
    .background-form .container-sub form input {
      border-radius: 5px;
      border-top: 1px solid white; }
    .background-form .container-sub form button {
      grid-column: 4/5;
      color: white;
      background-color: #2d63c8;
      font-size: 19px;
      border: 1px solid #2d63c8;
      cursor: pointer; }
      .background-form .container-sub form button:hover {
        color: #2d63c8;
        background-color: white; }

.box-shadow {
  margin: auto;
  background-color: white;
  width: 95%;
  -webkit-box-shadow: 1px 2px 30px -8px #42445a;
  -moz-box-shadow: 1px 2px 30px -8px #42445a;
  box-shadow: 1px 2px 30px -8px #42445a; }

.logo-nav {
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(12, 1fr); }
  .logo-nav div img {
    background-color: white;
    width: 200px; }

.page-adidas {
  grid-column: 1 / 2; }

.page-rickandmorty {
  grid-column: 2 / 3; }
  .page-rickandmorty a img {
    border-left: 1px solid black;
    padding-left: 5px; }

.banner img {
  width: 100%; }

.container-card {
  padding: 10px 0 10px 0;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2px; }

.card {
  background-color: white;
  border-right: 1px solid black;
  border-top: 1px solid black; }
  .card img {
    width: 100%; }
  .card button {
    background-color: white;
    border: 1px solid black;
    color: black;
    font-size: 17px;
    padding: 16px 31px;
    text-decoration: none; }
    .card button:hover {
      background-color: black;
      color: white; }

.card-description {
  padding: 10px;
  margin: auto;
  width: 90%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px; }
  .card-description h2 {
    grid-column: 1 / 4;
    grid-row: 1; }
  .card-description p {
    grid-column: 1 / 4;
    grid-row: 2; }
  .card-description .buttom-description {
    grid-column: 3 /4;
    grid-row: 3; }

iframe {
  width: 100%;
  height: 900px; }

.footer-adidas {
  padding: 10px 10px 10px 0px;
  width: 100%;
  text-align: right;
  background-color: black;
  color: black;
  position: relative; }
  .footer-adidas p {
    color: white; }

@media (max-width: 768px) {
  header {
    text-align: left; }
  footer .social-bar {
    position: inherit; }
  .chapter {
    grid-column: 1/13; }
  .family {
    grid-template-columns: repeat(1, 1fr); }
  .container-card {
    grid-template-columns: repeat(1, 1fr); }
  iframe {
    width: 100%;
    height: 500px; } }

@media screen and (max-width: 576px) {
  footer .social-bar {
    position: inherit; }
  .grid-home {
    background-attachment: fixed; }
  .family {
    grid-column: 1/6; }
  .chapter {
    grid-column: 1/6; }
  .container-card {
    grid-column: 1/4; }
  iframe {
    width: 100%;
    height: 500px; } }
