$color-white:rgb(255, 255, 255);
$color-black:rgb(0, 0, 0);
$color-principal: rgb(0, 238, 255);
$color-secundario:rgb(0, 255, 13);
$color-shadow:rgba(187, 206, 80, 1);
$color-formulario:rgba(255, 255, 255, 0.322);

