footer {
	width: 100%;
	display: flex;
	justify-content: center;
		
	.social-bar {
		position: fixed;
		bottom: 0 ;	
		padding: 50px;
		margin: auto;
		ul {
			li {
				a {
					i{
						color:$color-white;
						
					}
					text-decoration: none;
					&:hover {
						color: $color-white;
					}
				}
				text-align: center;
				border: 1px $color-white solid;
				margin: 10px;
				padding: 10px;
				border-radius: 50px;
				display: inline;
				&:hover {
					background-color: $color-secundario;
				}
			}
		}
	}
}
