@media screen and (max-width: 576px) {
	footer{
		.social-bar{
			position: inherit;
		}
	}
	.grid-home{
		background-attachment: fixed ;
	}
	
	.family {
		grid-column: 1/6;
	}
	.chapter {
		grid-column: 1/6;
	}
	.container-card {
		grid-column: 1/4;
	}
	iframe {
		width: 100%;
		height: 500px;
	}
}