@media (max-width: 768px) {
	header{
		text-align: left;
	}
	footer{
		.social-bar{
			position: inherit;
		}
	}
	.chapter {
		grid-column: 1/13;
	}
	.family {
		grid-template-columns: repeat(1,1fr);
	}
	.container-card {
		grid-template-columns: repeat(1,1fr);
	}
	iframe {
		width: 100%;
		height: 500px;
	}
}